.Palette-footer {
  background-color: white;
  height: 4vh;
  margin-top: -2px;
  display: flex;
  justify-content: flex-end;
  font-weight: 500;

  padding-top: 0.5rem;
}

.emoji {
  font-size: 0.9rem;
  margin-right: 2rem;
  margin-left: 0.3rem;
}
